/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fdebbc;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
.mb-35 {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .mb-35 {
    margin-bottom: 20px;
  }
}

.mb-65 {
  margin-bottom: 65px;
}
@media (max-width: 768px) {
  .mb-65 {
    margin-bottom: 35px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
/*===// end of layouts css === */
/*=== components css start === */
.black-button {
  background: #371900;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 700;
  border: 1px solid transparent;
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  height: 48px;
}
.black-button:hover {
  border: 1px solid #371900;
}

.button-green {
  color: #fff;
  background: #548936;
  border: 0px;
  font-weight: 400;
  border: 1px solid transparent;
  font-size: 15px;
  border-radius: 20px;
  min-width: 90px;
  padding: 2px;
}
.button-green:hover {
  border: 1px solid #548936;
}

.button-blue {
  color: #fff;
  background: #3C3579;
  border: 0px;
  font-weight: 400;
  border: 1px solid transparent;
  font-size: 15px;
  border-radius: 20px;
  min-width: 90px;
  padding: 2px;
  margin: 0px 5px;
}
.button-blue:hover {
  border: 1px solid #3C3579;
}

.button-red {
  color: #fff;
  background: #A61C10;
  border: 0px;
  font-weight: 400;
  border: 1px solid transparent;
  font-size: 15px;
  border-radius: 20px;
  min-width: 90px;
  padding: 2px;
}
.button-red:hover {
  border: 1px solid #A61C10;
}

.side-nav {
  width: 250px;
  padding: 25px;
  background: url(../images/aside-bg.png) no-repeat bottom center/contain;
  background-color: #FFF2D2;
  min-height: 100vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.side-nav .brand-image {
  padding-bottom: 40px;
}
.side-nav .navigation .nav-links {
  font-size: 15px;
  font-weight: 500;
  color: #371901;
  display: block;
  padding-bottom: 10px;
}
.side-nav .navigation .nav-links span {
  display: inline-block;
  width: 25px;
}
.side-nav .navigation .nav-links.active {
  color: #A21E1A;
}
.side-nav .navigation .accordion .accordion-item {
  background: transparent;
  border: none;
  padding-bottom: 10px;
}
.side-nav .navigation .accordion .accordion-item .accordion-header .accordion-button {
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  color: #371901;
}
.side-nav .navigation .accordion .accordion-item .accordion-header .accordion-button span {
  display: inline-block;
  width: 25px;
}
.side-nav .navigation .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
.side-nav .navigation .accordion .accordion-item .accordion-collaps .accordion-body {
  padding: 5px 0;
}

.main-content {
  width: calc(100% - 250px);
  padding-left: 10px;
}
.main-content .top-navbar {
  background: #FFF2D0;
  margin-bottom: 40px;
  padding: 16px;
}
.main-content .top-navbar .search-bar {
  width: 100%;
  max-width: 430px;
  position: relative;
  background: #FDEBBC;
}
.main-content .top-navbar .search-bar input {
  background: #FDEBBC;
  border-radius: 6px;
}
.main-content .top-navbar .search-bar .submit-button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 10px;
  background: transparent;
  border: 0;
}
.main-content .top-navbar .right .bell {
  font-size: 20px;
}
.main-content .top-navbar .right .dot {
  position: absolute;
  top: 0;
  right: 0px;
  width: 10px;
}

.users {
  padding: 20px;
}
.users .breadcrumb {
  font-size: 15px;
  font-weight: 600;
}
.users .breadcrumb a {
  color: #897E7E;
  margin-right: 5px;
}
.users .add-user {
  background: #FFF2D0;
  padding: 12px;
  margin-bottom: 10px;
}
.users .user-table .table thead tr {
  background: #FFEEC3;
  border-bottom: 1px solid #A28A66;
}
.users .user-table .table thead tr th {
  padding: 15px;
}
.users .user-table .table .table-body tr td {
  padding: 15px;
  background: #FFF2D0;
  border: none;
  height: 100%;
}
.users .user-table .table .table-body tr td .name,
.users .user-table .table .table-body tr td .email,
.users .user-table .table .table-body tr td .date {
  font-weight: 600;
  font-size: 15px;
  color: #897E7E;
  padding: 5px 0;
}
.users .user-table .table .table-body tr td .select-opt {
  border: none;
  background: transparent;
  min-width: 80px;
  color: #219653;
}
.users .user-table .table .table-body tr td .select-opt span {
  font-size: 20px;
}
.users .user-table .table .table-body tr td.blank {
  background: transparent;
  padding: 5px 0;
}
.users .pagination .nav-btn.active {
  background: rgba(0, 0, 0, 0.05);
  border: none;
}
.users .user-input {
  max-width: 780px;
}
@media (max-width: 767px) {
  .users .user-input {
    padding: 10px;
  }
}
.users .user-input .custom-input,
.users .user-input .select-input {
  width: 100%;
  background: #FDF3D0;
  border: 1px solid rgba(55, 25, 0, 0.3);
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
}
.users .user-input .cancel-button {
  width: 175px;
  height: 48px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 20px;
  color: #371901;
  border: 2px solid #371901;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  border-radius: 20px;
  margin: 0 5px;
}
.users .user-input .add-button {
  width: 175px;
  height: 48px;
  background: #371901;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin: 0 5px;
}

/*===// end of components css === */
/*=== pages css start === */
.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/login/full-fullbg.png) no-repeat bottom;
}
.login .login-form {
  width: 100%;
  max-width: 670px;
  padding: 10px;
  text-align: center;
}
.login .login-form .brand-logo {
  width: 100%;
  max-width: 470px;
  padding-bottom: 45px;
}
.login .login-form .input-custom {
  padding: 10px 20px;
  background: #FDF3D0;
  border: 1px solid #DF9C5F;
  border-radius: 20px;
  height: 64px;
} /*===// end of pages css === *//*# sourceMappingURL=style.css.map */